AETHERX_HOST=127.0.0.1
AETHERX_PORT=4318
AETHERX_DATA_DIR=.data
AETHERX_MASTER_KEY=replace-with-a-stable-random-secret
AETHERX_REGISTRATION_MODE=open
AETHERX_REGISTRATION_SECRET=
AETHERX_SESSION_TTL_DAYS=30
AETHERX_CORS_ORIGIN=*
